body {
  height: 100vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  background-size: cover;
  /* background-image: url(../macbook\ screensaver.jpg); */
}
#quote_body {
  background-color: rgba(20, 20, 20, 0.87);
  color: #fff;
  min-height: 200px;
  padding: 30px;
  width: 60%;
  margin: 100px auto;
  border-radius: 20px;
  text-align: center;
}
